<footer class="footer bg-dark text-white py-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-4">
                <h4>NavTaksh CampusIQ™</h4>

                <p>
                    AI Powered School ERP and Educational
                    Management Platform.
                </p>
            </div>

            <div class="col-lg-2">
                <h5>Product</h5>

                <ul class="list-unstyled">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>

            <div class="col-lg-2">
                <h5>Company</h5>

                <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h5>Contact</h5>

                <p>
                    support@navtaksh.com
                </p>
            </div>

        </div>

        <hr>

        <div class="text-center">
            © 2026 NavTaksh Technology
        </div>

    </div>
</footer>