{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        NavTaksh CampusIQ™
        {% endblock %}
    </title>

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    {% block css %}{% endblock %}
</head>
<body>

    {% include 'includes/navbar.html' %}

    {% include 'includes/messages.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'js/site.js' %}"></script>

    {% block js %}{% endblock %}

</body>
</html>